.sizeid
{
  width: 800px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(35, 37, 37);
  box-shadow: 10px 10px 5px grey;
}
.in
{
    border-radius: 9px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.btn
{
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    background-color: rgb(43, 43, 43);
    color: rgb(224, 217, 217);
    margin-bottom: 10px;
}
th,td
{
    color : rgb(224, 217, 217);
}