.sizeid
{
  width: 600px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(0, 255, 255);
  box-shadow: 10px 10px 5px grey;
}
th,td{
    font-family: Montserrat, sans-serif;
    
}
td{
    padding: 7px;
}
.p12
{
  font-family: sans-serif;
  font-size: 20px;
}
.btn
{
  border-radius: 7px;
  padding: 12px;
  margin-top: 7px;
  background-color: rgb(141, 219, 224);
  box-shadow: 2px 2px 1px gray;
  font-family: Montserrat, sans-serif;
  border-color: white;
  font-size: medium;
}